<aside class="Hui-aside">
	<div class="menu_dropdown bk_2" id="catalogue_here">
		<div class="menu_dropdown bk_2" id="super_admin">
			<dl>
				<dt><i class="Hui-iconfont">&#xe6ee;</i> 在线命令<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						<li><a data-href="/admin/AdminView/commandView" data-title="代码生成">代码生成</a></li>
						<li><a data-href="/admin/AdminView/catalogueView" data-title="二级目录">二级目录</a></li>
					</ul>
				</dd>
			</dl>
			<dl>
				<dt><i class="Hui-iconfont">&#xe62b;</i> 权限管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						<li><a data-href="/admin/AdminView/userAdd" data-title="管理员添加">管理员添加</a></li>
						<li><a data-href="/admin/AdminAuthAccess/view" data-title="管理员权限分配">管理员权限分配</a></li>
						<li><a data-href="/admin/AdminAuthGroup/view" data-title="管理员权限组">管理员权限组</a></li>

					</ul>
				</dd>
			</dl>
		</div>

	</div>
</aside>
<div class="dislpayArrow hidden-xs">
	<a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>