<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">

		<dl id="menu-command">
			<dt><i class="Hui-iconfont">&#xe616;</i> 在线命令<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="adminview/commandview" data-title="代码生成" href="javascript:void(0)">代码生成</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin_manage">
			<dt><i class="Hui-iconfont">&#xe613;</i> 权限管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="adminview/useradd" data-title="管理员添加" href="javascript:void(0)">管理员添加</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-test_table">
			<dt><i class="Hui-iconfont">&#xe613;</i> 测试表<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="adminview/pub_table_view" data-title="测试表" href="javascript:void(0)">测试表</a></li>
				</ul>
			</dd>
		</dl>

	</div>
</aside>
<div class="dislpayArrow hidden-xs">
	<a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>