
<!DOCTYPE HTML>
<html>
<head>
	{include file="public/_meta" /}
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add">

            <div class="row cl">
		        <label class="form-label col-xs-4 col-sm-3">自增id</label>
		        <div class="formControls col-xs-8 col-sm-9">
			        <input type="text" class="input-text"id="id">
		        </div>
	        </div>
            
            <div class="row cl">
		        <label class="form-label col-xs-4 col-sm-3">用户名</label>
		        <div class="formControls col-xs-8 col-sm-9">
			        <input type="text" class="input-text"id="username">
		        </div>
	        </div>
            
            <div class="row cl">
		        <label class="form-label col-xs-4 col-sm-3">密码</label>
		        <div class="formControls col-xs-8 col-sm-9">
			        <input type="text" class="input-text"id="password">
		        </div>
	        </div>
            
            <div class="row cl">
		        <label class="form-label col-xs-4 col-sm-3">密码盐</label>
		        <div class="formControls col-xs-8 col-sm-9">
			        <input type="text" class="input-text"id="password_salt">
		        </div>
	        </div>
            
            <div class="row cl">
		        <label class="form-label col-xs-4 col-sm-3">上次登陆IP</label>
		        <div class="formControls col-xs-8 col-sm-9">
			        <input type="text" class="input-text"id="last_login_ip">
		        </div>
	        </div>
            
            <div class="row cl">
		        <label class="form-label col-xs-4 col-sm-3">上次登陆时间</label>
		        <div class="formControls col-xs-8 col-sm-9">
			        <input type="text" class="input-text"id="last_login_time">
		        </div>
	        </div>
            
            <div class="row cl">
		        <label class="form-label col-xs-4 col-sm-3">创建时间</label>
		        <div class="formControls col-xs-8 col-sm-9">
			        <input type="text" class="input-text"id="create_time">
		        </div>
	        </div>
            
            <div class="row cl">
		        <label class="form-label col-xs-4 col-sm-3">更新时间</label>
		        <div class="formControls col-xs-8 col-sm-9">
			        <input type="text" class="input-text"id="update_time">
		        </div>
	        </div>
            
	    <div class="row cl">
		    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			    <input id='commit' class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		    </div>
	    </div>
	</form>
</article>
{include file="public/_footer" /}
<script src="/assets/js/generate/zadminuser/add_edit.js"></script>
</body>
</html>
